* {
    border: 1px solid black;
}

li a {
    color: blueviolet;
}

h4 + ul {
    border: 4px solid blue;
}

a[href="http://www.google.com"] {
    background: yellow;
}

ul {
    background: bisque;
}

li:nth-of-type(even){
    background: pink;
}

li:nth-of-type(odd){
    background: orange;
}

