body {
    
    border: 15px solid grey;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    padding: 20px;
       
}
.date {
    font-family: 'Courier New', Courier, monospace;
    color: peru;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red; 
}

.border {
    border-left: 3px solid grey;
    padding-left: 5px
}

hr {
    height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}