body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    padding: 50px;
    
}

h1 {
    font-size: 40px;
    color: red;
    float:left;
}

h2 {
    color: maroon;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
}

.dates {
    color: turquoise;
}

h2:hover{
    color: blue;
}

p {
    color: black;
}

li {
    color: black;
}

.company {
    color: blue;
    font-size: 20px;
    font-weight: lighter;
    float:right;
    
}

img {
    width: 20px;
}

.basic {
    text-align: left;    
}



.head {
    margin: -60px;
    margin-top: -px;
    margin-bottom: 10px;
    background: red;
    padding-left: inherit;
    padding-right: inherit;
    border-bottom: 5px solid black;
}

.heading1 {
    font-size: 50px;
    color: white;    
}
