body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    padding: 50px;
    font-size: 15px;
}

h1 {
    font-size: 40px;
    color: red;
    float:left;
}

h2 {
    color: red;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
}

.dates {
    color: blue;
    padding-left: 80%
}

h2:hover{
    color: blue;
}

p {
    color: black;
}

li {
    color: black;
}

.company {
    color: blue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:right;
    
}

.basic {
    text-align: left;
    padding-left: 80%;
    font-size: 15px;
    padding-top: 2%

}

.head {
    margin: -60px;
    margin-bottom: 10px;
    background: red;
    padding-left: ;
    padding-right: ;
    border-bottom: 5px solid black;
}

.heading1 {
    font-size: 50px;
    color: #f2f2f2;    
    padding-left: 5%;
}

.basic:hover {
    color: white;
}

i {
    width: 10px;
    padding-right: 10px;
    padding-bottom: 5%
}

h2 {
    padding-left: 5%;
}

img {
    width: 50px
}
h1:hover {
    color: black;
}
